
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a href="/swagger">Swagger</a>
    </p>
    <p>
        <a href="/hangfire">Hangfires</a>
    </p>
    <p>
        <a href="/SeriLogs">SeriLog</a>
    </p>
</body>
</html>
